*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border: none;
  border-radius: 5px;
}

* {
  scrollbar-width: 5px;
  scrollbar-color: #000000d3;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  overflow-y: auto;
  transform: translateX(-100%);
  opacity: 0;
  box-shadow: 2px 2px 40px 5px #34476c;
  transition-duration: 0.2s;
  background-color: inherit;
  h2 {
    padding: 2rem;
  }
}

.light-library {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 40px #c7c7c7;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition-duration: 0.2s;
  &:hover {
    background-color: #34476c;
  }
  img {
    width: 80px;
    height: 70px;
    object-fit: cover;
  }
  .song-description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.75rem;
    }
  }
}

.library-song-light {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition-duration: 0.2s;
  &:hover {
    background-color: #95b0ea;
  }
  img {
    width: 80px;
    height: 70px;
    object-fit: cover;
  }
  .song-description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.75rem;
    }
  }
}

.selected {
  background-color: #2c3d60;
}

.selected-light {
  background-color: #b8cdf6;
}

.active-library {
  transform: translateX(0);
  opacity: 1;
}
.mobile-exit {
  display: none;
}

@media screen and (max-width: 600px) {
  .library {
    width: 100%;
  }
}
