.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-control {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    // -webkit-appearance: none;
    display: block;
    width: 100%;
    padding: 0rem 0rem;
    cursor: pointer;
    outline: none;
    height: 6px;
    border-radius: 8px;
    transition-duration: 0.2s;
    background-color: #e9e9e9;
    &:hover {
      background-color: #b0b0b0;
    }
  }
  p {
    padding: 1rem;
  }
}

.player-control {
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  svg {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 92%;
  }
  .player-control {
    width: 60%;
  }
}
