@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;
}

.light-theme-color {
  color: #162238;
}

.dark-theme {
  background-color: #162238;
  color: #fff;
}

@import "./song";
@import "./player";
@import "./library";
@import "nav";
